
**/bin/
**/obj/
*.user
*.suo
*.cache
.vs/
*.DotSettings.user
**/packages/
**/TestResults/

**/*.exe.WebView2/

**/ffmpeg.exe
**/ffplay.exe
**/ffprobe.exe

**/node_modules/
**/dist/
**/.vite/

Thumbs.db
Desktop.ini
.DS_Store

.idea/
*.swp
*.swo
*~

*.log
npm-debug.log*

*.zip
*.rar
*.7z